{% extends 'userindex.html' %}
{% block content %}
{% load static %}
<style>
      .bd {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #f0f4f8;
        }

        .form-container {
            width: 40%;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            box-sizing: border-box;
        }

        .form-container h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        .form-container form {
            width: 100%;
        }

        .form-container input {
            width: 100%;
            padding: 12px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            box-sizing: border-box;
        }

        .form-container button {
            width: 100%;
            padding: 12px;
            background-color: #bf6b9c;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .form-container button:hover {
            background-color: #98115b;
        }

        @media (max-width: 768px) {
            .form-container {
                width: 80%;
            }
        }
</style>
<section class="breadcrumb-section set-bg" data-setbg ="{% static 'img/pexels-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>REGISTER</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <span>REGISTER</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><br><br><br><br><br><br><br>
<div class="bd">
<div style="background-image: linear-gradient(rgb(189, 20, 116),rgb(214, 146, 181));"  class="form-container">
    <h2 style="color: white;"><b>Register Now</b></h2>
    <form action="{% url 'registerdata' %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Your Name" required autocomplete="off">
        <input type="tel" name="phone" placeholder="Phone Number" pattern="[0-9]{10}" title="Enter a 10-digit phone number" required>
        <input type="email" name="email" placeholder="Email Address" required autocomplete="off">
        <input type="password" name="password" placeholder="Password" minlength="8" required autocomplete="new-password">
        <button type="submit">Submit</button>
    </form>
</div>
</div>

{% endblock %}