{% extends 'adminindex.html' %}
{% block content %}
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- jquery validation -->
          <div style="background-color: white;" class="card card-danger">
            <div class="card-header">
              <h3 class="card-title">ADD Services</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form action="{% url 'servicedata' %}" enctype="multipart/form-data" method="post" id="quickForm" novalidate="novalidate">
                {% csrf_token %}
              <div class="card-body">
                <div class="form-group">
                  <label style="color: black;" for="servicename">Service</label>
                  <input type="text" name="sename" class="form-control" id="exampleInputEmail1" placeholder="Enter service">
                </div>
                <div class="form-group">
                  <label style="color: black;" for="salonname">Salon</label>
                  <select name="salname" id="salonname" class="form-control">
                    <option value="" disabled selected>Select salon</option>
                      {% for i in data %}
                      <option>{{i.name}}</option>
                      {% endfor %}
                  </select>
              </div>
                  
                  <div class="form-group">
                    <label style="color: black;" for="price">price</label>
                    <input type="text" name="sprice" class="form-control" id="exampleInputEmail1" placeholder="Enter price">
                  </div>
                  <div class="form-group">
                    <label style="color: black;" for="image">Image</label>
                    <input type="file" name="image" class="form-control" id="exampleInputimage" placeholder="image">
                  </div>
                
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button style="margin-left: 25px;" type="submit" class="btn btn-danger">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.card -->
          </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">

        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
{% endblock %}