{% extends 'adminindex.html' %}
{% block content %}
<section class="content">
    <div class="card">
      <div class="card-header">
        <h3 style="text-align: center;" class="card-title">Declined Customers</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table border="2px" style="padding: 20px;text-align: center;background-color: white;">
          <tr style="color: white;background-color: rgb(192, 5, 5);">
                <th style="padding: 20px;">NAME</th>
                <th>PHONE</th>
                <th>EMAIL</th>
                
                <th>DATE</th>
                <th>TIME</th>
                <th>SERVICE</th>
                <th>IMAGE</th>
               
               

            </tr>
            {% for i in data %}
            <tr>
                <td style="color: black;padding: 10px;"><b>{{i.userid.name}}</b></td>
                <td style="color: black;padding: 10px;"><b>{{i.userid.phone}}</b></td>
                <td style="color: black;padding: 10px;"><b>{{i.userid.email}}</b></td>
                <td style="color: black;padding: 10px;"><b>{{i.date}}</b></td>
                <td style="color: black;padding: 10px;"><b>{{i.time}}</b></td>
                <td style="color: black;padding: 10px;"><b>{{i.serviceid.servicename}}</b></td>
                <td style="color: black;padding: 10px;"><b><img height="25%" width="25%" src="{{i.serviceid.image.url}}"></b></td>
                
               
                
             

            </tr>
            {% endfor %}
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </section>
  {% endblock %}