{% extends 'adminindex.html' %}
{% block content %}
<section class="content">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Logined Users</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table border="2px" style="padding: 20px;text-align: center;width: 100%;background-color: white;">
          <tr style="color: white;background-color: rgb(191, 11, 11);">
                <th style="padding: 20px;">Users EMAIL</th>
                
                
                

            </tr>
            {% for i in data %}
            <tr style="padding: 20px;color: black;">
                <td style="padding: 10px;"><b>{{i.name}}</b></td>
                
                
                
                

            </tr>
            {% endfor %}
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </section>
  {% endblock %}